[2018-06-16 10:40] keesschollaart81 opened #2 "Current position"
Thanks for the Api, nice work!

I'm trying to get the current location of my car, is that in any way supported? The ```CarFinderService``` throws:
[code]

[2018-06-16 11:43] davidgiga1993 commented on #2
The `CarFinderService` requires special permissions for your account. At least here in germany I can't get any data from it. But I guess it would be possible to get the last parked position of the car since the official app also shows these information.

[2018-08-12 11:25] akhan69 opened #3 "Posting on PyPI"
I am interested in using this library to integrate my Audi car with Home Assistant.  Home Assistant requires any dependencies to be available on PyPI.  Would you mind publishing there?  I am happy to publish it if you don't mind. Thanks.

[2018-11-08 07:55] djmoonshine commented on #3
@akhan69 I'm actually trying out this library and have the same goal as you. How far have you gotten this far? I guess you still could use this in a custom component without this being on PyPI?

[2018-11-08 07:59] djmoonshine commented on #2
@keesschollaart81 I'm able to run something like this:
[code]
This will show coordinates and parking time so it is probably not "live" while moving, but the parking position as noted by @davidgiga1993
As a note i live in sweden.

[2018-11-08 20:04] akhan69 commented on #3
@djmoonshine  I was able to get the car location by creating a platform and then a device tracker.  I haven't looked at it in a few months, got pulled off to work on something else.  I really wanted to get some of the other information such as milage and fuel levels, but I just haven't had the time to try and reverse engineer the services.

[2018-11-08 20:58] djmoonshine commented on #3
@akhan69 Ok, then you have done a bit more work than me. Is the code available somewhere? If not, would you be willing to share it to me in some way?

[2018-11-08 21:03] akhan69 commented on #3
I haven't posted the code publicly yet.  I am happy to share it with you.  If you give me a couple of days I can post what I have on GitHub.

[2018-11-08 21:06] djmoonshine commented on #3
@akhan69 Great! Thank you!

[2018-11-09 07:36] davidgiga1993 commented on #3
Sorry for the late reply. I'll soon upload the code as a Pypi package. Also I can provide you some sample code for getting the fuel data.

I'm also working on a soon to be released daemon which can put these data among others into a graphite DB for grafana visualization

[2018-11-14 07:04] davidgiga1993 commented on #3
Code is now available on PyPI
[code]

Also here is some sample code to get the fuel level and milage:
[code]

[2018-11-14 07:04] #3 closed, assigned to nobody

[2019-02-25 17:44] VolkerMuehlhaus opened #4 "VehicleStatusReportService - how to use?"
Hello,

I am struggling with the VehicleStatusReportService calls.

This is what I tried:

    car_service = CarService(api)
    vehicles_response = car_service.get_vehicles()
    for vehicle in vehicles_response.vehicles:
        print(str(vehicle))
        mycar = vehicle

    info_service = VehicleStatusReportService(api, mycar)
    stored_data = info_service.get_stored_vehicle_data()

    prin

[2019-02-26 12:00] davidgiga1993 commented on #4
`get_stored_vehicle_data` returns a `VehicleDataResponse` object.
This object holds the response data.
Example:
[code]

[2019-02-26 12:16] VolkerMuehlhaus commented on #4
Perfect - Many thanks David!

[2019-02-26 12:16] #4 closed, assigned to nobody

[2019-02-26 18:26] f2daz opened #5 "Unable to install audiapi"
Hey,

I tried to install the audiapi via pip and pip3, but it didn't work. Can someone help me?

Here are the error messages:

[code]

and

[code]

It says, that its installed successfully, but I cant use the api.

[2019-05-06 15:24] arjenvrh opened #6 "Locking/unlocking"
Hi David

Thanks for the great library. I was wondering where you got the information on the API to develop this library. I would like to extend it with locking/unlocking, but I'm having a hard time finding out the correct rest calls. Reverse engineering the myaudi calls with mitmproxy unfortunately was no success.

Regards
Arjen

[2019-05-06 18:43] davidgiga1993 commented on #6
There are multiple ways to do so:
- Decompile the app
- Swap the embedded root certificate of the apk with your own and use MITM-Proxy to capture the traffic of the app. Only importing the root CA into android won't work since the app does its own cert chain validation

[2019-05-06 20:07] arjenvrh commented on #6
Unfortunately I only have access to an iOS device, making it hard to use mitmproxy. I glanced at the decompiled code, I don't think analysing it will be fun... ;-)

[2019-05-07 15:46] davidgiga1993 commented on #6
You can search for the `@Path` annotations, it should give you a hint in which files to look

[2019-05-20 17:32] arjenvrh commented on #6
Well I've found all the relevant calls, but haven't been able how to add the secure pin needed for the locking/unlocking calls.

Anyway just to let you know in case you're interested: I've started integrating your library as an add-in to Home Assistant.
See https://github.com/arjenvrh/audi_connect_ha

[2019-05-20 17:32] #6 closed, assigned to nobody

[2019-05-28 10:10] rangerzhou commented on #2
Hi davidgiga1993,
I have tested it but some errors like below:

Traceback (most recent call last):
  File "test.py", line 46, in <module>
    res = asyncio.get_event_loop().run_until_complete( task )
  File "/usr/lib/python3.5/asyncio/base_events.py", line 466, in run_until_complete
    return future.result()
  File "/usr/lib/python3.5/asyncio/futures.py", line 293, in result
    raise self._excep

[2019-10-16 12:52] chranmat opened #7 "API documentation"
Hi,

Does Audi have any API documentation available? Or were did you get this info?

Best regards,
Christian

[2019-10-16 13:05] davidgiga1993 commented on #7
No sadly not, I had to take a look at the android app to find the rest endpoints. From there it was more or less trying around to see what data the server responds with.

[2019-10-16 14:15] chranmat commented on #7
oh.. Great job then 👍

[2019-10-18 06:30] #7 closed, assigned to nobody

[2019-12-05 11:25] andig opened #8 "Improve EV battery service"
Would be nice to get better battery service support as e.g. https://github.com/snaptec/openWB/commit/4ae39a07c3962d21bc2c8d94b6fa3c993c265726 is already using this repo.

I'd volunteer for testing!

[2019-12-05 11:42] andig commented on #5
You need to use python 3

[2019-12-05 12:20] #5 closed, assigned to nobody

[2019-12-05 12:20] davidgiga1993 commented on #8
Sure! Thanks 👍

[2019-12-06 11:57] #8 closed, assigned to nobody

[2019-12-16 15:34] dxdc opened #11 "Backend failure"
As of a few days ago, I see this message:

[code]

Is this no longer functional?

[2019-12-16 15:38] wictorwilen commented on #11
Same issue here, cannot sign in.

[code]

[2019-12-16 15:58] VolkerMuehlhaus commented on #11
Same here since 12/12/2019.

There was a message in the Audi App that some new remote features/functions were added.  Maybe that change broke the access also.

[2019-12-16 17:24] davidgiga1993 commented on #11
According to the latest reviews of the app it seems like audi had quite a big outage.
Is this still an issue?

[2019-12-16 17:28] dxdc commented on #11
Yes, but not sure of the cause. Possibly they refactored their API?

[2019-12-16 19:28] davidgiga1993 commented on #11
I just took a look at the app again - luckily they included a lot of mock data definitions for all endpoints available and even source code for running a mock server. That explains the app size of 100mb 🙄
Hopefully they didn't change too much

[2019-12-17 07:46] andig commented on #11
@davidgiga1993 could you share how you're doing that? I'm still getting the backend errors and would like to take a stab at fixing plus adding more functionality around the charge endpoint.

[2019-12-17 08:37] davidgiga1993 commented on #11
Just use dex2jar or similar to unpack the apk. I've pushed the stub data to the `testing` branch

[2019-12-18 17:29] andig commented on #11
Ah, Android? Not my territory ;)

Thank you. I've done a quick check but couldn't find anything regarding the battery service?

Apart from that- would you by chance have any initial ideas regarding the `invalid_request` authorization error?

[2019-12-18 18:27] davidgiga1993 commented on #11
I see :) No not yet, I'll patch the app and use an MITM attack to get the correct request format. Hopefully by this week

[2019-12-18 19:50] andig commented on #11
Very good. In case anybody wants to try I've followed the approach on iOS but am stuck at getting the proxy being accepted by iOS (https://github.com/mitmproxy/mitmproxy/issues/3748).

[2019-12-18 19:51] davidgiga1993 commented on #11
Yes the issue is that the app does ssl pinning with its own CAs so you need to modify the app in order for the MITM to work

[2019-12-29 20:10] andig commented on #11
Can't do this on iOS unfortunately. Looking forward to your update :)

[2020-02-01 10:35] andig commented on #11
Sorry for bothering you- any progress?

[2020-02-01 10:53] VolkerMuehlhaus commented on #11
Do you still have that issue? I had that issue in December, but in the meantime David s code works again here, without modification.

[2020-02-01 11:46] andig commented on #11
Ah, sorry for the confusion! I didn't even try as the message here was that we'll need to update after investigating certificate ~~pinging~~ pinning. Working for me, seems this can be closed.

On a separate, ot, note: I'd need some help with the remote battery service. I'm a python noob and would like to decode the json into a proper python structure. Any help welcome.

[2020-02-12 17:40] dxdc commented on #11
Just an update, everything working fine here as well! Must have been some kind of outage on their side?

[2020-03-24 10:10] andig commented on #11
Seems this is fixed and can be closed ;)

[2020-03-24 10:12] andig opened #12 "API caching: Charge state delivers rounded values"
For my EV charger [andig/evcc](https://github.com/andig/evcc) I'm polling the API to read battery charge state. It seems that- if polling regularly (5min interval), the API will only return rounded values, i.e. charge state will appear as 20, 25, 30, 35 etc...

Can anyone confirm this observation?

[2020-03-24 10:26] VolkerMuehlhaus commented on #12
For my A3 e-tron PHEV I also get other values, but there seems to be some preference for 5% steps.

TimeStamp;Avg;
19.3.2020 16:36:00; **99**;
19.3.2020 15:06:00; **100**;
19.3.2020 14:36:00; **93**;
19.3.2020 14:06:00; **81**;
19.3.2020 13:36:00; **65**;
19.3.2020 13:06:00; **55**;
19.3.2020 12:36:00; **45**;
19.3.2020 10:36:00; **34**;
19.3.2020 10:06:00; **26**;
18.3.2020 15:06:00; **28**;

[2020-03-24 11:53] andig commented on #12
Interesting. Must admit that I'm polling in shorter intervals while the car is connected (and hence I can't deplete the battery).

Btw (and please forgive me the OT response) here's how the charge power (blue) follows PV generation (yellow). Charge state values are only written in 30min interval unless they change to avoid a staircase pattern.

<img width="977" alt="Screenshot 2020-03-24 at 12 50

[2020-03-24 12:43] VolkerMuehlhaus commented on #12
Polling at slower rate is on purpose - I'm afraid that Audi will take measures to prevent ALL access if we abuse this API and thousands of users are polling so very frequently.

[2020-03-24 14:43] andig commented on #12
I‘ve limited to 5min intervals. Would be happy to adjust if we can have a consensus/recommendation what a good value is?

[2020-03-25 12:27] #11 closed, assigned to nobody

[2020-07-15 11:35] jgardiner68 commented on #2
In the UK, I can get the car's position when it is locked but not when it is being driven

[2020-07-15 13:48] davidgiga1993 commented on #2
@jgardiner68 That's the expected behavior. If you don't have the valet package you can't get the realtime position of the car. Only the parking position.

[2020-08-11 11:05] #12 closed, assigned to nobody

[2020-08-11 11:21] andig opened #13 "API changed to https://identity.vwgroup.io/signin-service/v1"
After receiving

    Konto gesperrt wegen Überschreitung fehlerhafter Logins

errors for some time I've noticed that- when logging into my.audi.com- that the signin flow now uses https://identity.vwgroup.io/signin-service/v1. Can anyone confirm if the app is doing the same and help reworking the login?

[2020-08-16 10:37] andig commented on #13
For a few days now, the messagae has changed when getting the token from https://msg.audi.de/fs-car/core/auth/v1/Audi/DE/token:

    {
        "error":"invalid_grant",
        "error_description":
        "Bitte überprüfen Sie Ihre eingegebenen Daten."
    }

[2020-08-16 10:57] insert10p commented on #13
I've been getting the same. The last time it worked for me was the 9th August

On 16 Aug 2020, at 11:38, andig <notifications@github.com> wrote:

﻿
For a few days now, the messagae has changed when getting the token from https://msg.audi.de/fs-car/core/auth/v1/Audi/DE/token:

{
    "error":"invalid_grant",
    "error_description":
    "Bitte überprüfen Sie Ihre eingegebenen Daten."
}
—
You are rec

[2020-08-16 11:38] andig commented on #13
If anyone could use something like mitmproxy on Android that would help. The iOS Audi app uses certificate pinning which didn't allow me to debug any further.

[2020-08-16 12:01] davidgiga1993 commented on #13
The android app also uses certificate pinning, you need to unpack the app, replace the certificate, pack the app and install it again.
Or simple decompile it. I'll take a look at it later to see if I find something

[2020-08-18 09:37] Mr-Staffman commented on #13
Found this on a forum:

{
	"issuer": "https://identity.vwgroup.io",
	"authorization_endpoint": "https://identity.vwgroup.io/oidc/v1/authorize",
	"token_endpoint": "https://app-api.my.audi.com/myaudiappidk/v1/token",
	"revocation_endpoint": "https://app-api.my.audi.com/myaudiappidk/v1/revoke",
	"end_session_endpoint": "https://identity.vwgroup.io/oidc/v1/logout",
	"jwks_uri": "https://identity.vwgr

[2020-08-18 10:04] andig commented on #13
@Mr-Staffman is there a link to the discussion, too? This looks like a jwt token?

[2020-08-18 11:19] cengler69 commented on #13
I think it is taken from https://community.home-assistant.io/t/audi-mmi-support/46543/250

[2020-09-01 10:28] andig commented on #13
Ping @davidgiga1993 any news? I'd be happy to update the flow but would need input from the app side. Thanks!

[2020-09-01 17:21] andersop91 commented on #13
Is this helping? I've seen and read about quite some smiliarities between VW and Audi. With regards to the server change, it seems even more similar at the time. This page is documenting the VW API: https://productdata.vwgroup.com/quick-start.html

[2020-09-01 19:02] andig commented on #13
We‘re lacking client credentials, id and secret. We also don‘t know any of the api endpoints. These are all pieces of the puzzle but not a solution :(

[2020-09-02 05:46] davidgiga1993 commented on #13
I tried to recompile the app with the CA from mitmproxy (as I did the last time) but apparently there are some other checks I can't seem to find at the moment. Also recompiling is a giant pain since they switched to kotlin,

[2020-09-02 06:58] andig commented on #13
Here is some detail from the Audi website login. I couldn't find out yet where the JWT token comes from:

Entering email:

    Summary
    URL: https://identity.vwgroup.io/signin-service/v1/c7c15e7f-135c-4bd3-9875-63838616509f@apps_vw-dilab_com/login/identifier
    URL: https://identity.vwgroup.io/signin-service/v1/c7c15e7f-135c-4bd3-9875-63838616509f@apps_vw-dilab_com/login/authenticate?relayStat

[2020-09-05 10:52] sandermvanvliet commented on #13
I’ve been banging my head against this with recompiling the APK after attempting to stub out the pinning in the okhttp client but so far no luck.

I did find the encrypted client Id and whatnot so I’ll be attempting to see if I can decrypt those

[2020-09-05 11:30] andig commented on #13
@sandermvanvliet could you share client credentials, id and secret with cpuidle@gmx.de? I've also tried proxying the web application but no luck. It seems to use some type of embedded server component and does requests to localhost:port?

[2020-09-05 12:42] sandermvanvliet commented on #13
Once I have them I'll share them.

As far as MTIM'ing goes, I've tried with Fiddler but it seems to be doing HTTP `CONNECT`s and I haven't been able to successfully intercept the verification checks.

[2020-09-05 12:58] andersop91 commented on #13
I've taken water over my head right here i believe. I've managed to recompile the app, and set up an proxy, but can't figure out the certificate issues. It's using pinned certificate? Doesn't manage to login with proxy in place. And I don't know enough about http traffic, jons, tokens and id's :-S
But it seems the login is completely the same in app and on website, though.

[2020-09-05 13:38] andig commented on #13
Doh: I've cut the website login flow now and its a horrible endless chain of redirects.

1. redirect flow starting at GET https://userinfo.my.audi.com/login/idk?ui_locales=de-DE
2. login flow starting at POST https://identity.vwgroup.io/signin-service/v1/c7c15e7f-135c-4bd3-9875-63838616509f@apps_vw-dilab_com/login/identifier with the email. It is using _csrf, relayState and hmac - not sure where t

[2020-09-05 14:20] sandermvanvliet commented on #13
I've got a gist ready that can decrypt the values out of `smali\de\audi\onetouch\backend\Secrets.smali.smali` (after unpacking with apktool), you can find it here: https://gist.github.com/sandermvanvliet/1e5c0143d5a7272105030139e927811f

[2020-09-05 14:23] andig commented on #13
@sandermvanvliet the `keyBytes` is from the source or one of the API responses?

[2020-09-05 14:25] sandermvanvliet commented on #13
Nope that's from the decompiled sources.

[2020-09-05 14:28] andig commented on #13
One of the (intermediate) keys I'm receiving looks like `eyJhbGciOiAiZGlyIiwgImVuYyI6ICJBMjU2R0NNIn0..UYVc-SIAHefJpf3E.h09S2MbP0_3HFa7NPmX4jrcuNr8R2avSKzI-`. The `..` looks strange for a jwt token?

[2020-09-05 14:34] andig commented on #13
The actual content api seems to have changed to an ugly json-based query language:

    POST https://userinfo.my.audi.com/bvh/v1

[code]

The id in this case is base64-encoded `Vehicle:VIN`

The request uses

[code]

...but apparently no auth token.

[2020-09-05 14:43] sandermvanvliet commented on #13
Supposedly the client id for the IDK endpoint should be `NdeSOLIavPcLo520L1mg`  but doing a `/token` POST doesn't work yet...

[2020-09-05 14:47] sandermvanvliet commented on #13
Ok it turns out that this is a key to a keychain in the app. Digging further

[2020-09-06 19:06] sandermvanvliet commented on #13
Ok so I’ve finally gotten past the certificate pinning. I’ll trace the logon stuff tomorrow, I’m getting there 👍

[2020-09-06 19:09] davidgiga1993 commented on #13
Nice! Would you mind sharing the apk somewhere?

[2020-09-07 07:26] sandermvanvliet commented on #13
I've created a postman collection that has the full authentication flow working. You can find it [here](https://gist.github.com/sandermvanvliet/f97a916ba43b676948d27574373a2c86)

One thing I noticed is that at step 7 it sometimes already returns the callback URI for the app as `myaudi:///`, in that case continue with step 9 instead of 8.

I noticed that the authentication flow is pretty similar to

[2020-09-07 08:59] andig commented on #13
Note: in step 2 the order or the query parameters seems to matter, so no way of doing this nicely :(.

[2020-09-07 12:24] andig commented on #13
Another note: step 8 also sometimes seems to return `Location: myaudi:///?stat` as token url.

[2020-09-07 12:30] andig commented on #13
@sandermvanvliet what I meant is that I can't use `url.Values.Encode()` in go as it generates the string in alphabetical order. Hope my comment didn't imply any criticism, I'm very thankful for your excellent work!

[2020-09-07 14:51] sandermvanvliet commented on #13
No worries. I must say that I haven't checked it and the implementation in C# I have here does some string interpolation so I didn't notice any problems as I use the same URLs that I was able to inspect.

Step 8 indeed sometimes directly returns the callback and not the "continue" step. Not sure why that happens though.

[2020-09-07 16:14] andig commented on #13
I've managed an ugly rewrite of the flow in go for https://github.com/andig/evcc and will continue to polish it. Code will end up the mentioned repo.

[2020-09-08 05:56] andig commented on #13
@sander could I kindly ask you to add one API request to the postman collection? It seems the API has changed as well and I'm unsure which of the tokens to use and how to access it.

[2020-09-08 08:23] davidgiga1993 commented on #13
I've updated the login for the python api (`testing`branch), but nevertheless the token can't be used to get for example associated vehicles with the account:
[code]

Either the endpoints for the API have been completely changed or we need another token for the different API endpoints.

@sandermvanvliet Can you maybe send me the apk via mail so I can further reverse engineer the api calls?

[2020-09-08 09:31] andig commented on #13
Did you see https://github.com/davidgiga1993/AudiAPI/issues/13#issuecomment-687619536? I think the api has changed, too...

[2020-09-08 18:52] davidgiga1993 commented on #13
Finally patched out all TLS pinning of the app for every rest client.. I'll update the python lib with the new calls

[2020-09-09 15:37] andig commented on #13
@davidgiga1993 here's what I have sofar: https://github.com/andig/evcc/blob/9043a7ebe9f3003416cc4768362e804f17df6b44/vehicle/audi.go. I'm missing the final step of actually using the tokens.

[2020-09-09 19:01] EspenT commented on #13
Can we learn anything from the vw guys ?
https://github.com/robinostlund/volkswagencarnet/blob/master/volkswagencarnet.py

[2020-09-10 17:50] sandermvanvliet commented on #13
Sorry, have been super busy the past few days. I’ll attach what I have tomorrow (not at a laptop rn). Got a postman collection and the apk which should help.

I did notice most of the calls go to the VW connect APIs now so you’ll need the VW access token for that (last call in the postman collection I shared earlier)

[2020-09-10 17:53] davidgiga1993 commented on #13
Please check the latest `testing` branch, the login is already fully working.
Only the car relevant API calls are missing since I don't have any audi licenses anymore...

[2020-09-10 18:25] andig commented on #13
@davidgiga1993 I have Audi if you want to pm me at cpuidle@gmx.de

[2020-09-11 12:07] sandermvanvliet commented on #13
To get the cars you'll need to use this URL https://msg.volkswagen.de/fs-car/usermanagement/users/v1/Audi/DE/vehicles with the Volkwagen access token. That'll give you the VINs connected to your account.

Charger data is at: https://msg.volkswagen.de/fs-car/bs/batterycharge/v1/{{brand}}/{{country}}/vehicles/{{vin}}/charger
Location data is at: https://msg.volkswagen.de/fs-car/bs/cf/v1/{{brand}}/{{

[2020-09-12 14:49] andig commented on #13
User noticed one more thing. On first use, it seems the sign-in needs to acknowledge the terms of use:

    /signin-service/v1/xxxxxxxx-xxxxxx-xxxxxxxx-xxxxxx
    4da@apps_vw-dilab_com/terms-and-conditions?relayState=xxxxxxxxxxxxxxxxxxxxxxxxxxx&updatedTermsOfUse=true&updatedDataPrivacy=true":
    unsupported protocol scheme ""

In that case the redirect location looks different (see above). Unfort

[2020-09-13 13:55] sandermvanvliet commented on #13
@andig that step indeed sometimes pops up, you'll need to check the `Location` header to see if it's needed (see Postman collection too).

Refreshing the tokens goes via the same endpoint as getting the access token only you need to use a different `grant_type` like so:

[code]

That'll give you a new id, access and refresh token in the response.

[2020-09-14 08:49] arjenvrh commented on #13
Hi guys

Thanks a lot for all the reverse engineering infos in this thread and the update of the login procedure in the testing branch, I've been able to get the [audi_connect_ha](https://github.com/arjenvrh/audi_connect_ha) home asisstant integration running again based on these infos.

All other calls seem to be working again, including actions such as locking/unlocking. Perhaps some things in t

[2020-09-17 11:08] andig commented on #13
This is a bit off-topic, but has anyone tried the same for the VW app? The user/password flow seems largely the same (https://github.com/robinostlund/volkswagencarnet/blob/master/volkswagencarnet.py for reference) but starts to differ where  we post to https://app-api.my.audi.com/myaudiappidk/v1/token. I have trouble getting past this stage, any insight would be welcome.

[2020-09-27 16:58] andig commented on #13
Again,  please forgive me the OT response, but I've factored the common part of the VW and Audi vwidentity-based login flow  into a go package. See https://github.com/andig/evcc/pull/361 if interested.

[2020-10-14 00:06] LionelJeans commented on #13
Hi guys
Thanks for the infos here. I had implements a mmi service in 2018 and this had works until aug. 2020. Audi changed his api. Now i found this site and i try to refactored my service.
The email and password requests works fine.
But i have a problem with the id token request, the response statuscode is "bad request" by post httpclient https://app-api.my.audi.com/myaudiappidk/v1/token with dat

[2020-10-14 09:51] andig commented on #13
This works for me, similar to yours:

	data := url.Values(map[string][]string{
		"client_id":     {"09b6cbec-cd19-4589-82fd-363dfa8c24da@apps_vw-dilab_com"},
		"grant_type":    {"authorization_code"},
		"code":          {code},
		"redirect_uri":  {"myaudi:///"},
		"response_type": {"token id_token"},
	})

You'll need the url-encoding header, if in doubt please show the complete request.

[2020-10-14 10:35] LionelJeans commented on #13
That's exactly what I use. Which header do you use?
The code of the redirect request is 1441 characters long. Is that correct?
As a hint i work in c#.

As a header I use:
("Accept", "application / json")
("X-App-Name", "myAudi")
("X-App-Version", "3.14.0")
("X-Market", "de_DE")
("User-Agent", "okhttp / 3.7.0")
and in addition I add
("referer", "https://identity.vwgroup.io/signin-service/v1/signin/

[2020-10-14 11:00] andig commented on #13
Data and header need be url-encoded!

[2020-10-14 15:55] LionelJeans commented on #13
url encoded or not, it doesn't work.
is the query given with data or just the url?

p.e. url with data query:
https://app-api.my.audi.com/myaudiappidk/v1/token?client_id%3d09b...a8c24da%40apps_vw-dilab_com&grant_type%3dauthorization_code&code%3de...bUThA&redirect_uri%3dmyaudi%3a%2f%2f%2f&response_type%3dtoken+id_token
or only url:
https://app-api.my.audi.com/myaudiappidk/v1/token

[2020-10-14 17:25] andig commented on #13
It does ;)

@LionelJeans could you kindly just show your entire request? Data needs to go into the body. If I should guess you're using the wrong encoding method for your body and I don't see any = in your query example (which is wrong anyway since it's not in the body).

[2020-10-15 07:08] LionelJeans commented on #13
Hi, i once attached a fiddler to my post request. I hope it helps. :)
![grafik](https://user-images.githubusercontent.com/72818152/96088433-b8667280-0ec5-11eb-8fa7-451441dcfe61.png)

and the result:
![grafik](https://user-images.githubusercontent.com/72818152/96088893-6245ff00-0ec6-11eb-98aa-9ee7665c6779.png)

[2020-10-15 07:43] andig commented on #13
@LionelJeans its wrong in about every dimension:

- header must be application/x-www-form-urlencoded
- data must go into body
- data must be form-encoded (client_id=....), you've killed the = signs
- headers should accept */*

[2020-10-15 08:19] LionelJeans commented on #13
yes thank you! :) form-url-encoded did it.
I had to rebuild the c # post request a bit. the direct assignment of form-url-encoded did not work. I had to use the "FormUrlEncodedContent" class. Now it's working. Many Thanks!

[2020-10-16 15:25] LionelJeans commented on #13
hi, i have now started to implement this in python. Getting the user and password credentials works. I fail to get the code in the response header location. the redirects are apparently not carried out. do you have some useful tips for me? i oriented myself to the audiapi implementation. Thanks :)

[2020-10-16 15:48] davidgiga1993 commented on #13
Take a look at the latest branch of this repo, the login is already implemented correctly

[2020-10-16 22:31] LionelJeans commented on #13
ok your code is running. I don't understand what's the problem with mine. maybe it is due to the session of the request. Thank you

[2020-10-21 11:49] LionelJeans commented on #13
hi, have you had problems with the audi api since yesterday? When the APPIDKTOKEN is called up, error 403 occurs in the api in the _handle_response method.

[2020-10-22 10:28] andig commented on #13
Yep, same problem here:

[code]

The Audi app still works, so changes must be in backend.

/ping @sandermvanvliet can you confirm?

[2020-10-22 10:31] andig commented on #13
VW uses `"https://mbboauth-1d.prd.ece.vwg-connect.com/mbbcoauth/mobile/register/v1"`instead of `https://app-api.my.audi.com/myaudiappidk/v1/token`, maybe we're seeing further steps of standardizing the VW/Audi APIs?

[2020-10-22 12:10] LionelJeans commented on #13
i checked my old code from the beginning of the year. here have used link in the vw. I have now exchanged the audi for the vw link in the audi api. As a result, I get an error while decoding the response to json error 404. The response text by vw url is:

<!doctype html><html lang="en"><head><title>HTTP Status 415 – Unsupported Media Type</title><style type="text/css">body {font-family:Tahoma,Aria

[2020-10-22 15:05] markus7017 commented on #13
Hi,
I also got stuck working to the openHAB integration. The WebUI uses client_id "c7c15e7f-135c-4bd3-9875-63838616509f@apps_vw-dilab_com".

I suppose that they block access to the App API from Web Apps ("forbidden_client"). If they use different client_id for different Apps it's easy to block/allow access to the token API per App.

The magic is to get the correct flow from the decompiled APK, but

[2020-10-22 21:25] markus7017 commented on #13
@sandermvanvliet Do you know Frida? https://omespino.com/tutorial-universal-android-ssl-pinning-in-10-minutes-with-frida/ and [FIRDA Gadget](https://frida.re/docs/gadget/)  ?

[2020-10-23 08:13] sandermvanvliet commented on #13
@andig will investigate today, haven't looked at it for a bit but will try to see what's going on

[2020-10-23 08:15] sandermvanvliet commented on #13
@markus7017 I stubbed out the certificate pinning directly and repackaged the APK.

[2020-10-23 13:07] sandermvanvliet commented on #13
I can confirm the `403 Forbidden` response on the token endpoint, I'm actually also seeing it from the app itself.
The iOS app on my phone did show an update, tried the login process there and that does work.
Going to check if there has been an update to the Android app to see if I can figure out what changed.

[2020-10-23 13:34] andig commented on #13
That‘s funny- the iOS app is working for me while I‘m getting the 403 using the API manually at the same time.

[2020-10-23 17:06] markus7017 commented on #13
iOS App works for me, I would be really surprised if they activate a blocking change if the Apps are not ready for that for a long time. Did you tried the unmodified App?

[2020-10-23 17:11] sandermvanvliet commented on #13
I figured out what changed. The token endpoint now expects a new header `X-QMAuth` which is a crypto hash of a bunch of time stamps.
Worked out how to create it and managed to retrieve a token again. It’s a bit annoying because you can forget about making postman calls.

[2020-10-23 17:54] markus7017 commented on #13
Could you please more insights, so we could work on implementation

[2020-10-24 13:13] markus7017 commented on #13
I found this, relates to the VW Car Net Auth, but looks very familar
descrption: https://github.com/thomasesmith/vw-car-net-api
implementation: https://github.com/thomasesmith/php-vw-car-net/blob/master/src/Authentication.php

[2020-10-24 15:17] sandermvanvliet commented on #13
The header takes this format: `v1:934928ef:7fe477d6ccc40d4be052d625b8a0fcebaab222df0bae7246631d7ec67f900451`
Where `v1` is static, `934928ef` is some sort of client id and is also static. The last part is a HMAC-SHA256 hash of a timestamp and a time delta.
The time delta is obtained by first retrieving the OIDC configuration and using the value in the `Date` header and then subtracting this value

[2020-10-24 16:23] markus7017 commented on #13
@sandermvanvliet I sent you an e-mail, let's chat

[2020-10-25 05:28] antoinevandenhurk commented on #13
Hope you can solve this problem!

[2020-10-25 09:24] andig commented on #13
What @sandermvanvliet wrote is of course correct, but it seems can be simplified. The endpoint only needs a signed timestamp, rounded to 100s. Looks in go like this:

	millis := time.Now().UnixNano() / 1e6
	fmt.Printf("millis: %d\n", millis)

	truncated := strconv.FormatInt(millis/1e5, 10)
	fmt.Printf("truncated: %s\n", truncated)
	_, err = mac.Write([]byte(truncated))

	mac := hmac.New(sha256.New

[2020-10-25 18:51] markus7017 commented on #13
Sometimes it's much easier than we think, I'm back on track with a working token exchange and access to the API.
The magic: You need to replace response_type=code with response_type=token%20id_token in the OAuth start url and the process ends up providing id_token, access_token and expires_in in the resulting URL (instead of code=). This makes a call with X-QMAuth header obsolete and bypasses that

[2020-10-25 20:58] andig commented on #13
Confirmed, why go for "code" when you can have "id_token" ;) It looks much more like the VW login now. The remaining difference is the exchange of the id token into an access token.

[2020-10-26 13:05] LionelJeans commented on #13
The call with "token id_token" response-type does not work for me.
**Do all other calls have to be made beforehand? Which calls have to be made before and after?** so first the "code" call has to be carried out because the credentials are passed on there.
then the new call ...
can you describe that

[2020-10-26 14:01] andig commented on #13
See https://github.com/andig/evcc/blob/master/vehicle/audi.go for the actual implementation

[2020-10-26 15:10] arjenvrh commented on #13
I can also confirm that the new flow is working. See https://github.com/arjenvrh/audi_connect_ha/blob/master/custom_components/audiconnect/audi_services.py for a Python implementation

[2020-10-26 15:15] pergolafabio commented on #13
so @arjenvrh , you gonna put a new version on HACS ?

[2020-10-26 15:21] titiviking commented on #13
I confirm it is working also!

[2020-10-26 16:52] antoinevandenhurk commented on #13
I can connect again, but with less entities...

[2020-10-26 16:57] pergolafabio commented on #13
Yes, same here, only 2 entities in HA instead of like 15 like before...

I only have lock and model sensor

[2020-10-26 17:13] antoinevandenhurk commented on #13
Just 10 more entities after login. Removed integration and now 24 entities after login without pin and region ...

[2020-10-26 17:23] pergolafabio commented on #13
Ok, gonna try later without pin and without region...
What region are you normally in? Also DE?

[2020-10-26 17:44] antoinevandenhurk commented on #13
Yes "DE"

[2020-10-26 17:59] pergolafabio commented on #13
Tried again, but still 2 entities, doesn't matter if I put in region or not...
But also installed the audi Android app, don't see any status there also anymore, like fuel tank, can only lock and unlock...

I see my warranty expired last week... I never had audi connect services before (paid edition) , maybe it's because of the warranty

[2020-10-26 18:35] andig commented on #13
You might want to have the HA-related discussion in https://github.com/arjenvrh/audi_connect_ha/issues/48#event-3921990933?

[2020-10-26 18:50] markus7017 commented on #13
Is anybody aware of a 2nd authentication? I'm still try to figure out why the access to the climatization, trip data and statistics etc. is blocked even the car has a climator and the above auth has been performed. the operationList shows those services as enabled and with a valid license, but also lists "id":"requestExtAuthV200" under rolesrights_authorization_v2. Maybe climater and pre-heater ar

[2020-11-05 07:24] markus7017 commented on #13
@andig and all of you. After we got the login working I'm struggeling with token refresh.
I made sure that headers and URL are ok and also us form-encoded body, but I get the same error we had before with the login (fforbidden_client). Does anybody has this working? Maybe it also requires the XQMAuth header or does someone know if Web-based OAth could also be used for that?

[2020-11-05 08:06] andig commented on #13
@markus7017 would you like to show your request? You don't need the XQMAuth request/header at all if you directly request the id_token instead of the code. Refreshing looks like this for me, POST body is url-encoded:

	headers := map[string]string{
		"Content-Type": "application/x-www-form-urlencoded",
		"X-Client-Id":  v.clientID,
	}

	data := url.Values(map[string][]string{
		"grant_type":    {"

[2020-11-05 19:54] markus7017 commented on #13
Hi @andig ,

this is the request:
[code]

and response
[code]

A POST to https://id.audi.com/v1/token provides the same result.

Are you sending
- data as URL parameters
- form data in the body
- JSON data in the body?

Which token do you use as refresh_token, the one returned for id_token, audi token or vw token?

[2020-11-05 21:06] andig commented on #13
Just from a glance: your body encoding looks broken. Must be &refreshtoken... not +! Not url-encoded it is ;)

[2020-11-05 22:14] markus7017 commented on #13
Now I get
[code]

URL correct?
Audi Token or VW Token?
Is the X-ClientId correct?

[2020-11-06 08:56] andig commented on #13
I'm not sure what's going on. I'm getting the Audi access token from `https://mbboauth-1d.prd.ece.vwg-connect.com/mbbcoauth/mobile/oauth2/...`. `https://id.audi.com/v1/token` is not part of the flow I'm using. The refresh token comes from the same endpoint. See https://github.com/andig/evcc/blob/master/vehicle/audi.go#L86 for the flow.

[2020-11-06 19:43] markus7017 commented on #13
No I get a HTTP 500 - grrr

[code]

Do we want to chat 1:1 My e-mail is markus7017@gmail.com

[2020-11-18 09:06] andig commented on #13
Chattet with @markus7017 the other day.

I've just had the following case popup with an A6 TFSIe:

    GET https://msg.volkswagen.de/fs-car/usermanagement/users/v1/Audi/DE/vehicles
    200 OK

    GET https://msg.volkswagen.de/fs-car/bs/batterycharge/v1/Audi/DE/vehicles/WAUZZZ..../charger
    403 Forbidden

    {"error":{"errorCode":"batterycharge.auth.forbidden","description":"The context was inv

[2020-11-20 19:27] markus7017 commented on #13
I see that also with other services, e.g. tripdata, tripstatistics, climater - stuff I have in my car, but the API returns 403

[2020-11-21 07:54] andig commented on #13
At the same time the services/data are visible in the Audi portal. Wondering how the portal does that?

[2020-11-21 11:11] sandermvanvliet commented on #13
@andig check if the user is a secondary or primary user for that car. Some services are only available as secondary or primary.
Also I've seen that sometimes if the pairing isn't complete you get forbidden responses

[2020-12-16 12:42] LionelJeans commented on #13
Hello everyone, do you know the problem that the CarFinderService
(https://msg.volkswagen.de/fs-car/bs/cf/v1/Audi/DE/vehicles/VIN/position) does not provide the position of the vehicle while driving? Is there a solution for this or an other service?

[2020-12-16 12:44] davidgiga1993 commented on #13
@LionelJeans I would guess this is a restriction of the service to increase the privacy. My guess is that the car only submits the position after being parked

[2020-12-16 12:53] LionelJeans commented on #13
@davidgiga1993 hm, I was just thinking that too, apparently this is perhaps intentional, the name is "parking_position".
But, i think the audi mmi app shows the position even while driving... audi special logic...
I have to check the facts

[2020-12-30 10:42] liobaka commented on #13
Hi everyone,

I'm getting {'error': 'forbidden_client', 'error_description': 'Access forbidden'} on https://app-api.my.audi.com/myaudiappidk/v1/token

Here's full post message, do you have idea how to solve this?

https://app-api.my.audi.com/myaudiappidk/v1/token
<bound method Session.post of <requests.sessions.Session object at 0x103c4af40>>
{'client_id': '09b6cbec-cd19-4589-82fd-363dfa8c24da@app

[2021-01-02 09:25] sandermvanvliet commented on #13
This is indeed the case what I've observed from testing with the car.
I noticed that for example BMW does a similar thing where it only updates the location if the car is stationary.

[2021-03-02 14:44] snoerenberg commented on #13
Hi, I will get an OpenWB wallbox soon and own an Audi A6 TFSIe.

Should I try to capture traffic and replay login attempt via Postman or what is needed?
@liobaka e.g. your User-Agent could be checked on Audi side - not sure if they zse "okhttp" internally.

[2021-03-02 20:09] andig commented on #13
@snoerenberg OpenWB uses EVCC (https://github.com/andig/evcc) for the Audi SoC which is turn is based on input from this discussion. You use case is already covered 👍🏻.

[2021-06-08 18:08] knozturk commented on #13
I am just curious if this integration still works for US. We are having issues on the homeassistant side which I believe that it is using this or similar api. The developer of the add-on is not responding and I wanted to check maybe debug the issue that we are having.

[2021-06-10 17:47] markus7017 commented on #13
AFAIK Audi in the US still uses a brand token, access token and id token, whereas in EMEA the bands has been consolidated so only access token (VW) and id tokens are used anymore. I’m doing the openHAB implementation and was also involved in this discusssion here. I removed the old token setup before recognizing thst thos is still required for the US. Maybe I could restore it from an old commit, b

[2021-10-26 08:38] LionelJeans commented on #13
Hello, everyone,
The OpenIdConfig service has not been available for about a week. (https://app-api.live-my.audi.com/myaudiappidk/v1/openid-configuration) - error unknown endpoint 404
Does anyone have any information or the current url? Thanks

[2021-10-26 09:17] andig commented on #13
Noticed the same, will update when we find out.

[2021-10-26 09:50] snoerenberg commented on #13
@LionelJeans @andig is this the new one?
https://idkproxy-service.apps.emea.vwapps.io/v1/emea/openid-configuration

[2021-10-26 09:58] LionelJeans commented on #13
very good, the url fits. Just tested. Thanks

[2021-10-26 10:06] snoerenberg commented on #13
@LionelJeans
* java -jar apktool_2.5.0.jar d -o decompiled [myAudi.apk]
* \decompiled\smali_classes2\de\audi\onetouch\market\DynamicConfiguration.smali
* search for openid-configuration

[2021-10-26 11:19] titiviking commented on #13
I've noticed the same thing.

I've applied the change in URL and can confirm it works properly.

Changes done:
- Edit custom_components/audiconnect/audi_services.py
- Line 501 & 504 - change URL to new one (https://idkproxy-service.apps.emea.vwapps.io/v1/emea/openid-configuration)
- Restart HA

[2021-10-28 21:38] harphere commented on #13
I'm not having any luck with this new URL for my Q5 in Canada - it throws back 'Invalid Credentials' using Home Assistant. Is there someone else based in Canada that is able to make it work? Or what else might need changing?

[2021-10-29 06:42] snoerenberg commented on #13
@nickelnine I tried to guess it:

https://idkproxy-service.apps.emea.vwapps.io/v1/emea/openid-configuration
EMEA = Europe, Middle East and Africa
https://idkproxy-service.apps.na.vwapps.io/v1/emea/openid-configuration
NA = North America

At least it returns something. Give it a try.

[2021-10-29 21:35] harphere commented on #13
Thanks @snoerenberg, got it now.

[2021-10-30 07:32] snoerenberg commented on #13
@nickelnine you are right. Was copy and paste error, I was just concentrating on the FQDN.

Which was finally the correct URL for North America?

https://idkproxy-service.apps.na.vwapps.io/v1/na/openid-configuration
?

[2021-11-02 03:20] harphere commented on #13
Yes, that's right, although for me, via Home Assistant I am getting a Bad Gateway error when I try to perform any actions like locking the doors. I think it might be because I'm in Canada which technically shouldn't matter because the North America URL should work for me but it's not and I have no idea where to look to get it working (if at all possible)

[2021-11-26 10:00] LionelJeans commented on #13
Hello guys, and the next problem for 2 days. The AZS Token Url (https://app-api.live-my.audi.com/azs/v1/) no longer seems to fit. It delivers a no healthy upstream (503) response.
Does anyone else have the same problem?

[2021-11-26 10:16] titiviking commented on #13
Yes, I'm having exact same behaviour...
`2021-11-26 10:50:56 ERROR (MainThread) [custom_components.audiconnect.audi_connect_account] Login to Audi service failed, trying again in 10 seconds
2021-11-26 10:51:16 ERROR (MainThread) [custom_components.audiconnect.audi_connect_account] Login to Audi service failed, trying again in 10 seconds
2021-11-26 10:51:28 ERROR (MainThread) [custom_components.aud

[2021-11-26 10:22] LionelJeans commented on #13
ok, can someone sniff the myAudi app for the correct azs url? that is where it works. Perhaps Audi will gradually change the urls.

[2021-11-26 11:10] snoerenberg commented on #13
https://content.app.my.audi.com/service/mobileapp/configurations/market/DE/de?v=4.5.1
returns
https://aazsproxy-service.apps.emea.vwapps.io

maybe you can give this a try but it throws an error in the browser the QA URL is working (but should not be used)

[2021-11-26 12:25] andig commented on #13
What is the AZS token? Haven't come across that one?

[2021-11-26 12:37] snoerenberg commented on #13
Some graphql API (https://app-api.live-my.audi.com), REST API https://live.retailservices.audi.de and REST api (app-api.my.audi.com) as authentication provider (Authorization: Bearer ...)

Seems no interesting charging information or similar you might want to sell.

[2021-11-26 12:41] LionelJeans commented on #13
according to api source code:
Get the azs token, this token is used for car related requests

[2021-11-26 12:52] LionelJeans commented on #13
ok, i just saw that i don't need the azs token and caught the error. now everything works for my needs.

[2021-11-26 14:17] titiviking commented on #13
What did you change to make it work ?

[2021-11-26 14:29] LionelJeans commented on #13
in my code, all tokens are determined one after the other in the api. since the azs token cannot be determined, the function and the process are terminated. since i don't use the azs token i simply commented out the determination. that works for me

[2021-11-26 18:36] LionelJeans commented on #13
I have one more addendum, because of my error correction it is now apparent that the azs url is briefly unreachable every 62 minutes. then it works again. maybe that's because of the token which expires every 60 minutes.

[2021-11-26 19:00] LionelJeans commented on #13
I've just checked, the azs url error always occurs when the access token was regenerated beforehand

[2021-12-03 12:05] titiviking commented on #13
https://github.com/arjenvrh/audi_connect_ha/pull/95

above implementation fixes the issues. Thnaks a lot to @T0bias-r

[2021-12-26 10:40] LionelJeans commented on #13
Hello guys, another new problem. The token service usually generates a token array with 2 tokens in it.
One token with scope 'fal' and one without scope.
Now and then it happens that the token service only generates the token without scope. However, this token does not work for authentication on the service.
So far I had solved this by discarding the token without scope and starting a new request.

[2022-01-03 12:17] LionelJeans commented on #13
Hi, happy new year!
Does none of you really have problems with the token request?

[2022-01-08 10:43] t0bias-r commented on #13
I have not yet noticed this problem, but only use the Audi-API access for reading - so no activation of charger or climater etc.

[2022-01-08 11:34] LionelJeans commented on #13
ok weird. I also only read the vehicle status on exactly this audi-api here. the problem is with token retrieval. the retrieval works, but I have apparently received an invalid and incomplete token.
the current token looks like this:
"access_token": "eyJ ..
"id_token": "eyJ ..
"expires_in": "3600",
"token_type": "bearer",
"client_id": null,
"scope": "",
"refresh_token": ""

When the token retrieva

[2022-01-08 12:11] LionelJeans commented on #13
- I use the implementation of the audi api.
- First I load the openidconfig and use the authorization_endpoint it contains (https://identity.vwgroup.io/oidc/v1/authorize).
- then I go through the whole registration procedure with user form and password form and the forwarding until you get the querystring fragment via the location, in which the token is.
- I haven't changed anything in that.
- yes

[2022-01-08 13:42] LionelJeans commented on #13
sorry people, ashes on my head!
because of the temporary incorrect retrieval of the azs token, i had built in an abort logic. For me, however, this means that the important mmb token is no longer called up.
changed that and now it's working again.

[2022-01-29 12:05] LionelJeans commented on #13
hello everyone, me again.
something has actually changed in the audi login.
when calling up the login page https://identity.vwgroup.io/signin-service/v1/signin/... you previously received a form_tag with the action, csrf, relaystate and hmac.
the form_tag has been coming since 28.01. 12:44 no longer with.
instead you get a script_tag containing a "window._IDK" structure.
the structure looks like t

[2022-01-29 13:25] andig commented on #13
It is. The same fields are still used, its just that VW builds the page dynamically now.

[2022-01-29 13:41] LionelJeans commented on #13
I've adjusted that now. but get a 404 error despite the same fields.

[2022-01-29 13:58] LionelJeans commented on #13
go now. email was still missing in the form_data

[2022-01-29 22:40] titiviking commented on #13
So what fix did you apply to make it work again?

[2022-01-31 08:14] LionelJeans commented on #13
The form_tag containing the hidden input elements for _crsf, relaystate and hmac has been removed.
These values can now be found in a <script> tag as window._IDK variable, see structure above.
You are now looking for the <script> with the window._IDK, load the variable content as json and get the values. Everything else still fits.

[2022-01-31 13:38] titiviking commented on #13
What about a code change?
I was looking into audi_services.py, but the method seem to be shared across multiple other functions. Hence I guess the changes aren't as straigth forward as the last onces...

If you have updated version of audi_services.py, it would be much appreciated if you can share it and/or create a PR so everyone can benefit from the update)

[2022-01-31 15:10] LionelJeans commented on #13
I use my own implementation, but the change to services.py should look like this:
replace:
_form_inputs = html.find_all("input", attrs={"type": "hidden"})
        for form_input in form_inputs:_

with:
_parsedFormHtmlStr = str(parsedFormHtml)
searchStartTag = 'window._IDK'
window_IDK = parsedFormHtmlStr[(parsedFormHtmlStr.index(searchStartTag) + len(searchStartTag)):].lstrip(' ').lstrip('=').lstri